<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="userEmail !== 'admin@gmail.com'">
      <ion-button (click)="toggleEditMode()">
        {{ editMode ? 'Cancelar' : 'Editar' }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div *ngIf="this.userEmail == 'admin@gmail.com'">
  <h2 class="h1-avisador">Comuniquese con los desarrolladores para modificar sus datos</h2>
</div>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Nombre de usuario</ion-label>
    <ion-input [(ngModel)]="userName" [readonly]="!editMode"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Correo electrónico</ion-label>
    <ion-input [(ngModel)]="userEmail" readonly></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre" [readonly]="!editMode"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Apellido</ion-label>
    <ion-input [(ngModel)]="apellido" [readonly]="!editMode"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Fecha de nacimiento</ion-label>
    <ion-datetime [(ngModel)]="fechaNacimiento" [readonly]="!editMode" displayFormat="DD/MM/YYYY"></ion-datetime>
  </ion-item>
  
  <ion-button expand="block" (click)="guardarCambios()" *ngIf="editMode">Guardar cambios</ion-button>
  
  <div *ngIf="userEmail !== 'admin@gmail.com'">
    <ion-item-divider class="cambiador-contra">
      <ion-label>Cambiar Contraseña</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label position="stacked">Contraseña actual</ion-label>
      <ion-input type="password" [(ngModel)]="inputCurrentPassword"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nueva contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Confirmar nueva contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="confirmNewPassword"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="cambiarContrasena()">Cambiar Contraseña</ion-button>
  </div>
</ion-content>