  ion-avatar {
    width: 100px;
    height: 100px;
    margin-bottom: 16px;
    margin: 0 auto;
  }
  
  ion-list {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  ion-item {
    --padding-start: 16px;
    --padding-end: 16px;
    --inner-padding-end: 0;
  }
  
  ion-label:first-child {
    font-weight: bold;
  }
  
  ion-label:last-child {
    color: #666;
  }

.h1-avisador{
  text-align: center;
  font-size: 1.5rem;
  margin: 0.2rem;
}

.cambiador-contra{
  margin-top: 2rem;
}
