<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Política de privacidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">politprivacidad</ion-title>
    </ion-toolbar>
  </ion-header>

  <p class="titulo-descripcion">Nuestras políticas</p>
  <ion-card>
    <!-- POLITICAS DE LA APP -->
    <h3 class="titulo-politicas">Políticas de Privacidad para Huertos vecinos</h3>
    <p class="prueba-nomas">Bienvenido a nuestras politicas de privacidad en Huertos Vecinos, a continuacion explicaremos como se recopilara, usara, divulgara y protegera la informacion personal entegada al momento de usar o registrarse en esta app dedicada al posteo e interaccion sobre plantas y/o flores en un foro.</p>
    <!-- PUNTO UNO -->
    <h4 class="prueba-nomas">1. Informacion personal de la cuenta</h4>
    <ion-list>
      <ion-item>
        <ion-label>*Datos de registro: Al momento de crear una cuenta, se recopilara informacion como nombre, correo electronico, fecha de nacimiento, edad, direccion y cualquier otra informacion que decidas proporcionar</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>*Informacion del perfil: es posible que se proporcione informacion o detalles adicionales sobre ti mismo dentro de tu perfil o publicaciones como intereses o gustos. </ion-label>
      </ion-item>
    </ion-list>
    <!-- PUNTO DOS -->
     <H4 class="prueba-nomas">2. Informacion de uso</H4>
     <ion-list>
      <ion-item>
        <ion-label>*Datos de actividad: Se recopilara informacion sobre tus interacciones en la app, como publicaciones y comentarios.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>*Datos de dispositivos. Se recopilara informacion sobre los dispositivos desde el que accedes a la app como sistema operativo, direccion IP o tipo de dispositivo.</ion-label>
      </ion-item>
    </ion-list>
    <!-- PUNTO TRES -->
    <H4 class="prueba-nomas">3. Uso de la informacion</H4>
    <ion-list>
     <ion-item>
       <ion-label>*proporcionar y evolucioar el servicio: Se personalizara la experiencia de usuario en la app, moderando el contenido mostrado y ofreciendo soporte.</ion-label>
     </ion-item>
     <ion-item>
       <ion-label>*Comunicar: enviar notificaciones relacionadas con la app, como actualizaciones o mensajes.</ion-label>
     </ion-item>
     <ion-item>
      <ion-label>*Analisis: Se analizara el uso de la app para mejorar el servicio.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>*Cumplimiento legal: Cumplir con obligaciones legales para resolver disputas.</ion-label>
    </ion-item>
   </ion-list>
   <!-- PUNTO CUATRO -->
   <H4 class="prueba-nomas">4. No compartir tu informacion excepto por lo siguiente:</H4>
   <ion-list>
    <ion-item>
      <ion-label>*Con proveedores de servicios: Nos ayudan a operar la aplicacion donde estan obligados a proteger tu informacion personal.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>*Cumplimiento legal: Tenemos el deber de entregar tu informacion si asi lo exige la ley o para proteger el derecho de los usuarios y nuestros.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>*Con consentimiento: Podemos compartir tu informacion si antes hubo de forma explicita consentimiento para hacerlo.</ion-label>
    </ion-item>
  </ion-list>
    <!-- PUNTO CINCO -->
   <H4 class="prueba-nomas">5. Derecho de usuario</H4>
   <ion-list>
    <ion-item>
      <ion-label>*Acceso y correccion: Es posible solicitar acceso a tu informacion personal y corregir cualquier error.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>*Eliminacion: Puedes solicitar eliminar informacion personal.</ion-label>
    </ion-item>
    </ion-list>
    <!-- PUNTO SEIS -->
   <H4 class="prueba-nomas">6. Cambios en la politica de privacidad</H4>
   <ion-list>
    <ion-item>
      <ion-label>*Es posible que nuestras politicas de privacidad esten sometidas a cambios de vez en cuando. Seras notificado sobre cualquier cambio importante en nuestra app</ion-label>
    </ion-item>
    </ion-list>
    <!-- PUNTO SIETE -->
   <H4 class="prueba-nomas">7. Seguridad</H4>
   <ion-list>
    <ion-item>
      <ion-label>*Se tomaran medidas razonables para proteger tu informacion personal de un acceso no autorizado, divulgacion, destruccion o alteraccion de informacion personal. Sin embargo, ninguna medida de seguridad en totalmente infalible, por lo que no se garantiza la seguridad absoluta.</ion-label>
    </ion-item>
    </ion-list>
     <!-- PUNTO OCHO -->
   <H4 class="prueba-nomas">8. Contacto</H4>
   <ion-list>
    <ion-item>
      <ion-label>*Correo electronico: huertoscontactogmail.com</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>*Direccion: Santa Elena de Huechuraba 1660, 8600036 Huechuraba, Region metropolitana </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>*Numero de celular: 2 2999 3000 </ion-label>
    </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
