<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Acuerdo de usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">acuerdousuario</ion-title>
    </ion-toolbar>
  </ion-header>
  <p class="titulo-descripcion">Al usar nuestra app usted esta aceptando las siguientes condiciones: </p>
  <ion-card>
    <!-- PUNTO UNO -->
    <h4 class="prueba-nomas">1. Terminos de servicio</h4>
    <ion-list>
      <ion-item>
        <ion-label>-Huertos Vecinos permite publicar contenido, comentar publicaciones de otros usuarios y participar en discuciones</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>-No puedes publicar contenido ilegal, amenazante o que infrinja los derechos de propiedad intelectual. Se reserva el derecho a eliminar cualquier contenido que viole estas condiciones.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>-Eres responsable de la veracidad de la informacion que compartes y de cumplir con todas las leyes aplicables.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>-Es posible actualizar estos terminos en cualquier momento. Seras notificado sobre los cambios importantes mediante un aviso en la aplicacion.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>-Tenemos el derecho de suspender o cancelar tu cuenta si violas estos terminos. Es posible apelar cualquier desicion de suspension.</ion-label>
      </ion-item>
    </ion-list>
    <!-- PUNTO DOS -->
     <H4 class="prueba-nomas">2. Politicas de privacidad</H4>
     <ion-list>
      <ion-item>
        <ion-label>-Recopilaremos datos como tu nombre, direccion de correo electronico y el contenido que publiques. Usaremos esta inforacion para proporcionar un mejor servicio y personalizar tu experiencia.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>-No compartiremos tus datos personales con terceros sin el consentimiento previo, excepto cuando sea necesario para cumplir la ley.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>-Se implementaron medidas de seguridad para proteger tu informacion, incluyendo la encriptacion de datos y controles de acceso.</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>-Tienes derecho de acceder, corregir o eliminar tus datos personales mediante la edicion de datos.</ion-label>
      </ion-item>
    </ion-list>
    <!-- PUNTO TRES -->
    <H4 class="prueba-nomas">3. Politicas de contenido</H4>
    <ion-list>
     <ion-item>
       <ion-label>-No se permitira el contenido violento, racista, sexualmente explicito o que incite al odio como discursos de odio y amenazas.</ion-label>
     </ion-item>
     <ion-item>
       <ion-label>-El equipo de moderadores revisara el contenido denunciado y tomara medidas como eliminar publicaciones o suspender cuentas que violen nuestras normas.</ion-label>
     </ion-item>
     <ion-item>
      <ion-label>-Si crees que un contenido es inapropieado, puedes reprotarlo con algun moderador para ser investigado.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>*Cumplimiento legal: Cumplir con obligaciones legales para resolver disputas.</ion-label>
    </ion-item>
   </ion-list>
   <!-- PUNTO CUATRO -->
   <H4 class="prueba-nomas">4. Politicas de conducta:</H4>
   <ion-list>
    <ion-item>
      <ion-label>-Debes tratar con respeto y cortesia a los demas usuarios. El acoso, trolling y amenazas estan prohibidos.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>-Si llegas a violar nuestro codigo de conducta podras recibir una advertencia, tener contenido eliminado o enfrentar una suspension de tu cuenta.</ion-label>
    </ion-item>
  </ion-list>
    <!-- PUNTO CINCO -->
   <H4 class="prueba-nomas">5. Politica de Cookies</H4>
   <ion-list>
    <ion-item>
      <ion-label>-Usaremos cookies para mejorar la experiencia en la app, como recordar preferencias y autenticar tu sesion, puedes desactivarlas por tu cuenta lo que afectaria de algunas funciones de tu app.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>-Usaremos cookies para mantenerte conectado y cookies analiticas para entender como utilizas la app.</ion-label>
    </ion-item>
    </ion-list>
    <!-- PUNTO SEIS -->
   <H4 class="prueba-nomas">6. Descargo de responsabilidad</H4>
   <ion-list>
    <ion-item>
      <ion-label>-No somos responsables de ningun daño o perdida derivada del uso de la app.</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>-La app se proporciona sin garantias de ningun tiipo. no garantizamos que la app este libre de errores o que funcionara sin interrupciones.</ion-label>
    </ion-item>
    </ion-list>
    <!-- PUNTO SIETE -->
   <H4 class="prueba-nomas">7. Ley aplicable y jurisdiccion</H4>
   <ion-list>
    <ion-item>
      <ion-label>-Todos estos terminos se rigen por las leyes dictaras por el Congreso Nacional del estado de Chile .</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>-Caulquier disputa que surja en relacion a estos terminos sera resuelta en los tribunales competentes del estado de Chile.</ion-label>
    </ion-item>
    </ion-list>       
  </ion-card>
</ion-content>
