<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- TITULO DE LAS APPS -->
    <ion-title class="titulo-inicio">Huertos vecinos</ion-title>
    <!-- ICONO DE PERFIL -->
    <ion-buttons slot="end"> {{ userName }}
      <ion-button [routerLink]="['/paginaperfil']">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- FIN ICONO DE PERFIL -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- texto -->
  <h1>hola</h1>
  <br>
  <h1>hola</h1>

  <app-explore-container name="PÁGINA DE NAVEGACION"></app-explore-container>
</ion-content>

<!-- FOOTER --> 
<ion-footer>
  <ion-toolbar>
    <ion-title> Footer </ion-title>
  </ion-toolbar>
</ion-footer>
