.first-icon-config {
    margin-right: 0.5rem;
  }

ion-card-title {
  display: flex;
  align-items: center; /* Alinea verticalmente los íconos y el texto */
}
  
.final-arrow-config {
  margin-left: auto;
}

.titulo-descripcion{
    margin-left: 1rem;
}

.antisocial{
    margin-bottom: 3px;
}
  