<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ajústes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- TARJETA DE CUENTA -->
  <p class="titulo-descripcion">General</p>
  <ion-card [routerLink]="['/paginaperfil']">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="person-outline" class="first-icon-config"></ion-icon>
        Ajustes de cuenta
        <ion-icon name="arrow-forward-outline" class="final-arrow-config"></ion-icon>
      </ion-card-title>
    </ion-card-header>    
  </ion-card>
  <!-- TARJETA DE ACERCA -->
  <p class="titulo-descripcion">Acerca de</p>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="antisocial" [routerLink]="['/politcontenido']"><ion-icon name="file-tray-full-outline" class="first-icon-config"></ion-icon>Política de contenido<ion-icon name="arrow-forward-outline" class="final-arrow-config"></ion-icon></ion-card-title>
      <ion-card-title class="antisocial" [routerLink]="['/politprivacidad']"><ion-icon name="settings-outline" class="first-icon-config"></ion-icon>Política de privacidad<ion-icon name="arrow-forward-outline" class="final-arrow-config"></ion-icon></ion-card-title>
      <ion-card-title class="antisocial" [routerLink]="['/acuerdousuario']"><ion-icon name="person-outline" class="first-icon-config"></ion-icon>Acuerdo de usuario<ion-icon name="arrow-forward-outline" class="final-arrow-config"></ion-icon></ion-card-title>
      <ion-card-title class="antisocial" [routerLink]="['/agradecimientos']"><ion-icon name="file-tray-full-outline" class="first-icon-config"></ion-icon>Agradecimientos<ion-icon name="arrow-forward-outline" class="final-arrow-config"></ion-icon></ion-card-title>
    </ion-card-header>
  </ion-card>
   <!-- TARJETA DE SOPORTE -->
  <p class="titulo-descripcion">Soporte</p>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="antisocial" [routerLink]="['/centroayuda']"><ion-icon name="help-outline" class="first-icon-config"></ion-icon>Centro de ayuda<ion-icon name="arrow-forward-outline" class="final-arrow-config"></ion-icon></ion-card-title>
      <ion-card-title class="antisocial" [routerLink]="['/tabs/tab1']"><ion-icon name="leaf-outline" class="first-icon-config"></ion-icon>Visita F/Huertos vecinos<ion-icon name="arrow-forward-outline" class="final-arrow-config"></ion-icon></ion-card-title>
      <ion-card-title class="antisocial" [routerLink]="['/reportproblema']"><ion-icon name="mail-outline" class="first-icon-config"></ion-icon>Reportar un problema<ion-icon name="arrow-forward-outline" class="final-arrow-config"></ion-icon></ion-card-title>
    </ion-card-header>
  </ion-card>
  <!-- TARJETA DE VERSIÓN -->
   <p class="titulo-descripcion">Versión</p>
   <ion-card>
    <ion-card-header>
      <ion-card-title><ion-icon name="analytics-outline" class="first-icon-config"></ion-icon>Alpha 24.08.2024</ion-card-title>
    </ion-card-header>
  </ion-card>
  <!-- TARJETA DE SOPORTE -->
  <div *ngIf="this.userEmail =='admin@gmail.com'">
    <p class="titulo-descripcion">Administración</p>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="antisocial" (click)="goadmin()"><ion-icon name="person-outline" class="first-icon-config"></ion-icon>Pagina de admin<ion-icon name="arrow-forward-outline" class="final-arrow-config"></ion-icon></ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>
  <ion-button color="danger" expand="block" (click)="logout()" class="boton-cerrar">
    <ion-icon name="log-out-outline" slot="start"></ion-icon>
    Cerrar Sesión
  </ion-button>
</ion-content>
