<ion-content class="ion-padding">
  <div class="login-container">
    <img src="assets/icon/logo.png" alt="App Logo" class="logo">
    <h2>Inicio de sesión</h2>
    <form>
      <!-- CORREO -->
      <ion-item>
        <ion-input label="Correo" labelPlacement="floating" placeholder="Ingrese su correo" type="email" required [(ngModel)]="correo" name="correo"></ion-input>
      </ion-item>
      <!-- CONTRASEÑA -->
      <ion-item>
        <ion-input label="Contraseña" labelPlacement="floating" placeholder="Ingrese su contraseña" [type]="showPassword ? 'text' : 'password'" required [(ngModel)]="contrasena" name="contrasena"></ion-input>
        <ion-button fill="clear" slot="end" class="password-toggle" (click)="togglePasswordVisibility()">
          <ion-icon [name]="showPassword ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
        </ion-button>
      </ion-item>
      <!-- BOTÓN -->
      <ion-button expand="block" class="ion-margin-top" (click)="login()">Iniciar</ion-button>
    </form>
    <!-- EXTRA -->
    <p class="forgot-password" [routerLink]="['/recuperacion']">Olvidaste tu contraseña?</p>
    <p class="signup">No tienes cuenta? <a href="" [routerLink]="['/registro']">Registrate</a></p>
  </div>
</ion-content>