<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked">Correo Electrónico</ion-label>
    <ion-input type="email" [(ngModel)]="userEmail"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Código Secreto</ion-label>
    <ion-input type="text" [(ngModel)]="secretCode"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Nueva Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Confirmar Nueva Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="confirmNewPassword"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="cambiarContrasena()">Cambiar Contraseña</ion-button>
</ion-content>
