.submit-btn {
    --background: #3880ff;
    --background-hover: #3171e0;
    --background-activated: #4c8dff;
    margin: 1rem;
    border-radius: 8px;
  }

  ion-button {
    --background: #4285F4;
    --background-activated: #3367D6;
    --border-radius: 4px;
    --color: #ffffff;
    font-weight: bold;
  }