<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Centro de ayuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">centroayuda</ion-title>
    </ion-toolbar>
  </ion-header>
  <p class="titulo-descripcion">Preguntas recurrentes.</p>
  <ion-card>
    <!-- PUNTO UNO -->
    <h4 class="prueba-nomas">1. ¿Como puedo crear una cuenta?</h4>
    <ion-list>
      <ion-item>
        <ion-label>-Usando el boton de registro donde deberas completar los campos requeridos como nombre, correo electronico, contraseña, etc.</ion-label>
      </ion-item>
    </ion-list>
    <!-- PUNTO DOS -->
     <H4 class="prueba-nomas">2. ¿Como publico contenido?</H4>
     <ion-list>
      <ion-item>
        <ion-label>-Para publicar debes buscar el boton de publicar dentro de la app, donde deberas escribir una descripcion y agregar una imagen, luego apretar el boton "Publicar".</ion-label>
      </ion-item>
    </ion-list>
    <!-- PUNTO TRES -->
    <H4 class="prueba-nomas">3. ¿Como puedo editar o eliminar una publicacion?</H4>
    <ion-list>
     <ion-item>
       <ion-label>-Para editar o eliminar debes ir a la publicacion propia, elejir los tres puntos y seleccionar "Editar" o "Eliminar".</ion-label>
     </ion-item>
   </ion-list>
   <!-- PUNTO CUATRO -->
   <H4 class="prueba-nomas">4. ¿Como comento una publicacion?</H4>
   <ion-list>
    <ion-item>
      <ion-label>-Toca una publicacion que deseas comentar, busca el cuadro de texto donde puedes escribir tu comentario y luego tocar "Enviar" para publicarlo.</ion-label>
    </ion-item>
  </ion-list>
    <!-- PUNTO CINCO -->
   <H4 class="prueba-nomas">5. ¿Como puedo denunciar una publicacion?</H4>
   <ion-list>
    <ion-item>
      <ion-label>-Para denunciar un contenido inapropiado debes tocar la opcion de "Denunciar" y luego escribir porque crees que infringe nuestras normas.</ion-label>
    </ion-item>
    </ion-list>    
  </ion-card>
</ion-content>